.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 340px;
  gap: var(--spacing-md);
}

.imgDog {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  animation-name: imgDogAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes imgDogAnimation{
  0% {background-color: blue;}
  25% {background-color: violet;}
  50% {background-color: purple;}
  100% {background-color: red;}
}